.App {
  text-align: center;
}

table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  width:30%;
  align-content: center;
  align-items: center;
}
th{
  color: aqua;
  background-color: black;
  border: 1px solid wheat;
}

nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 12vh;
  background: gray;
  color: black;
}

.nav-links{
   width:10%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  list-style: none;

}
.calculate{
  align:right;
  align-items: center;
  position:absolute;
  top:35%;
  right:10%;

}
.investment-report{
  align:right;
  align-items: center;
  position:absolute;
  top:55%;
  right:10%;
}

#fund-select{
 width:30%;
}

li{
    right:10%;
  align:right;
  align-items: center;
}